[project]
name = 'felix'
description = 'A Stacks lottery that allows you to play on both sides'
authors = []
telemetry = true
cache_dir = '.cache'

[[project.requirements]]
contract_id = 'SP2PABAF9FTAJYNFZH93XENAJ8FVY99RRM50D2JG9.nft-trait'

[[project.requirements]]
contract_id = 'SPSCWDV3RKV5ZRN1FQD84YE1NQFEDJ9R1F4DYQ11.citycoin-vrf-v2'

[contracts.felix-meta]
path = 'contracts/felix-meta.clar'
clarity_version = 2
epoch = 2.5

[contracts.felix-meta-v2]
path = 'contracts/felix-meta-v2.clar'
clarity_version = 2
epoch = 2.5

[contracts.felix-raffle]
path = 'contracts/felix-raffle.clar'
clarity_version = 2
epoch = 2.5

[repl.analysis]
passes = ['check_checker']

[repl.analysis.check_checker]
strict = true
trusted_sender = false
trusted_caller = false
callee_filter = false
